.screen {
  width: 100%;
  justify-self: center;
  align-self: center; /* this screen is vertically centered, unlike most others */
  max-width: var(--size-content-form);
  display: grid;
  gap: var(--space-7);
}

.card {
  display: grid;
  gap: var(--space-5);
}

.heading {
  color: var(--color-text-primary);
  margin: 0;
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-5);
}

.error {
  color: var(--color-danger-text);
}

.switchLink {
  color: var(--color-text-secondary);
  text-align: center;
  margin: 0;
}
